<template>
    <footer>
        <h1>{{time}}</h1>
    </footer>
</template>

<script>
    import { reactive, toRefs } from "vue";
    function getTime() {
        const date = new Date();
        return [date.getHours(), date.getMinutes(), date.getSeconds()]
            .map((num) => `0${num}`.slice(-2))
            .join(':');
    }
    export default {
        setup() {
            const data = reactive({
                time: getTime()
            });
            setInterval(() =>{data.time = getTime();}, 1000);

            return {...toRefs(data)};
        }
    }
</script>

<style scoped>
    footer{
        display: flex;
        flex-flow: nowrap row;
        align-items: center;
        justify-content: center;
    }
</style>