<template>
    <header>
        <h1>Score : {{finish}} sudoku{{finish>1?'s':''}} done and {{move}} proposition{{move>1? 's':''}}</h1>
    </header>
</template>

<script>
    import useState from "../store/main";

    export default {
        setup() {
            const {finish, move} = useState();


            return {finish, move};
        }
    }
</script>

<style scoped>
    header{
        display: flex;
        flex-flow: nowrap column;
        align-items: center;
    }
    h1{
        color: darkblue;
        background-color: white;
        text-align: center;
    }
</style>