<template>
    <main>
        <Sudoku/>
    </main>
</template>

<script>
    import Sudoku from "./Sudoku";

    export default {
        components:{
          Sudoku
        },
        setup() {
            return {};
        }
    }
</script>

<style scoped>
    main{
        display: flex;
        flex-flow: nowrap row;
        align-items: flex-start;
        justify-content: center;
        height: 65vh;
    }
    h1{
        color: #2c3e50;
        font-size: 5rem;
    }
</style>