<template>
  <section id="main">
    <table id="grid">
      <tbody>
        <tr>
          <td class="corner"></td>
          <td class="unit top" v-for="(num, ind) in numbers" :key="ind">
            0{{ num }}
          </td>
          <td class="corner"></td>
        </tr>
        <tr v-for="(row, ind) in maskedGrid" :key="ind">
          <td class="ten start">{{ ("0" + (ind + 1) * 10).slice(-2) }}</td>
          <td
            v-for="(cell, index) in row"
            :key="index"
            :id="`${ind}:${index}`"
            :class="[
              `Cell`,
              `${(ind + index) % 2 === 0 ? 'even' : 'odd'}`,
              `${
                (ind + 1) % 3 === 0
                  ? 'botSquare'
                  : (ind + 1) % 3 === 1
                  ? 'topSquare'
                  : ''
              }`,
              `${
                (index + 1) % 3 === 0
                  ? 'rightSquare'
                  : (index + 1) % 3 === 1
                  ? 'leftSquare'
                  : ''
              }`,
            ]"
            @click="selectCell"
          >
            {{ cell === 0 ? " " : cell }}
          </td>
          <td class="ten end">{{ ("0" + (ind + 1) * 10).slice(-2) }}</td>
        </tr>
        <tr>
          <td class="corner"></td>
          <td class="unit bottom" v-for="(num, ind) in numbers" :key="ind">
            0{{ num }}
          </td>
          <td class="corner"></td>
        </tr>
      </tbody>
    </table>
  </section>
  <article id="selector">
    <button
      v-for="(num, index) in numbers"
      :key="index"
      @click="updateCell(num)"
      class="selectValue"
    >
      {{ num }}
    </button>
  </article>
</template>

<script>
import { onMounted } from "vue";
import useState from "../store/main";
import useSudoku from "../store/modules/sudoku";

export default {
  setup() {
    const { incrementMove, incrementPoint, resetMove } = useState();
    const {
      maskedGrid,
      numbers,
      getNewGrid,
      getNewMask,
      getMaskedGrid,
      isValueCorrect,
      updateCellValue,
      isGridCompleted,
    } = useSudoku();

    function selectCell(event) {
      const cell = event.target;
      const cellNum =
        parseInt(cell.id.split(":")[0]) + parseInt(cell.id.split(":")[1]);
      const cellClass = `${cellNum % 2 === 0 ? "even" : "odd"}`;
      const selector = document.getElementById("selector");
      const cellCharac = cell.getBoundingClientRect();
      const cellCol = cell.id.split(":")[1];
      const cellRow = cell.id.split(":")[0];
      const x =
        cellCol > numbers[numbers.length - 3]
          ? cellCharac.left - 75
          : cellCharac.right - 5;
      const y =
        cellRow > numbers[numbers.length - 3]
          ? cellCharac.top - 75
          : cellCharac.bottom - 5;
      if (cell.innerText === "") {
        const isSelected = Array.from(cell.classList).includes("selected");
        Array.from(document.getElementsByClassName("selected")).forEach(
          (elem) => {
            elem.classList.remove("selected");
            elem.classList.add(
              `${
                parseInt(elem.id.split(":")[0]) +
                  (parseInt(elem.id.split(":")[1]) % 2) ===
                0
                  ? "even"
                  : "odd"
              }`
            );
          }
        );
        selector.style.display = "none";
        selector.left = 0;
        selector.top = 0;
        if (!isSelected) {
          cell.classList.add("selected");
          selector.style.display = "flex";
          selector.style.left = `${x}px`;
          selector.style.top = `${y}px`;
        }
        cell.classList.toggle(cellClass);
      }
    }

    const reset = () => {
      resetMove();
      getNewGrid();
      getNewMask();
      getMaskedGrid();
    };

    const updateCell = (value) => {
      const selectedCell = Array.from(
        document.getElementsByClassName("selected")
      )[0];
      if (selectedCell) {
        const row = selectedCell.id.split(":")[0];
        const col = selectedCell.id.split(":")[1];
        incrementMove();
        if (isValueCorrect(value, row, col)) {
          selectedCell.removeEventListener("click", selectCell);
          selectedCell.classList.remove("selected");
          updateCellValue(value, row, col);
          const selector = document.getElementById("selector");
          selector.style.display = "none";
          selector.left = 0;
          selector.top = 0;
          if (isGridCompleted()) {
            incrementPoint();
            reset();
          }
        }
      }
    };

    onMounted(() => {
      reset();
    });
    return { maskedGrid, numbers, selectCell, updateCell };
  },
};
</script>

<style scoped>
#main {
  position: relative;
}

@media screen and (min-width: 800px) {
  #main {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  #main {
    width: 100%;
  }
}

#main:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#selector {
  display: none;
  flex-flow: wrap row;
  width: 6em;
  z-index: 1;
  position: absolute;
}

.selectValue {
  padding: 0;
  width: 2em;
  height: 2em;
  border: 1px solid #333333;
}

.selectValue:hover {
  background-color: #7c7a61;
}

#grid {
  border-spacing: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.unit {
  border-right: 0;
  border-left: 0;
}

.top {
  border-top: 0;
  border-bottom: 2px solid #333;
}

.bottom {
  border-top: 2px solid #333;
  border-bottom: 0;
}

.ten {
  border-top: 0;
  border-bottom: 0;
}

.start {
  border-right: 2px solid #333;
  border-left: 0;
}

.end {
  border-left: 2px solid #333;
  border-right: 0;
}

.selected {
  background-color: #7c7a61;
}

td {
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px solid #333;
  text-align: center;
  font-weight: bold;
}

.even {
  background-color: burlywood;
}

.corner {
  border: 0;
}

.botSquare {
  border-bottom: 2px solid #333;
}

.topSquare {
  border-top: 2px solid #333;
}

.rightSquare {
  border-right: 2px solid #333;
}

.leftSquare {
  border-left: 2px solid #333;
}
</style>