<template>
  <Header/>
  <Main/>
  <Footer/>
</template>

<script>
import Main from "./components/Main";
import Header from "./components/Header";
import Footer from "./components/Footer";

export default {
  components: {
    Main,
    Header,
    Footer
  }
}
</script>

<style>
  template{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
  }
</style>
